@import 'vars';
@import 'global';
@import 'fonts';

//star header
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
     align-items: center; //выравнивает все по центру  в хедаре
}
.header__text{
    margin-left: auto; //до этого текст был по середине, теперь он отталкнуля от левого элемента максимум до следующего
    margin-right: 25px; // это отталкивает наш текст от элементов, к ктороым он прижался из за строчик выше
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px; //закрушления на кнопках
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}

.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        font-size: 400;
        color: #fff;
    }
    
}
//end header

//start search
.search{

background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 533px;
}
.search__inner{
    padding: 135px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }
    &-text{
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 24px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent; //что бы было прозрачным
            right: 20px;
            top: 16px;
        } 
    }
}
//end search
//start products
.products{
    padding: 110px 0;
    background-color: #f4f6f5;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        @include f500;
        font-size: 14px;
        cursor: pointer;
        & + button{
            margin-left: 5px;
            }
            &.mixitup-control-active{
                background-color: $red;
                color: #fff;
                outline: none;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.produts__item{
    max-width: 442px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 320px;
    }
    &-title{
        display: block;
        color: $bg;
        font-size: 18px;
    }
    &-category{
        display: block;
        color: $green;
        font-size: 18px;
    }
    &-price{
        @include f700;
        font-size: 20px;
        color: $bg;
    }
    &-info{
        min-width: 70px;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        span{
            @include f500;
            font-size: 14px;
        }
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
    }
    &-star{
        span{
            color: $bg;
            font-size: 14px;
        }
    }

}
.products__bottom-btn{
    text-align: center;
    margin-top: 45px;
    button{
        padding: 20px 32px;
        border: none;
        background-color: #fff;
        color: $bg;
        @include f500;
        font-size: 16px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        cursor: pointer;
        & + button{
            margin-left: 10px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            outline: none;
    }
    }
}
  //end product
  //start products-slider
  .products-slider{
      padding: 110px 0px 120px;
  }
  .slick-dots{
      margin-top: 50px;
      text-align: center;
      li{
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active{
          button{
              background-color: $green;
          }
      }
      button{
        font-size: 0;
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        width: 16px;
        height: 16px;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
  //end products-slider
  //start advantage
.advantage{
    max-height: 620px;
    background-color: $bg;
    padding: 110px 0px;
}
.advantage__title{
    color: #fff;
}
.advantage__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.advantage__item{
    max-width: 370px;
    text-align: center;
    padding: 0 30px;
    &:hover{
        .advantage__item-images{
            background-color: $green;
            path,{
                fill: #fff;
            }
        }
        .advantage__item-title{
            color: $green;
        }
       
    }
    &-images{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .3s;
    }
    &-title{
        color: #fff;
        @include f500;
        font-size: 24px;
        margin-bottom: 25px;
        transition: all .3s;
    }
    &-text{
        color: #b0bec5;
        font-size: 15px;
        // margin: 0 20px;
    }
}
  //end advanyage
  //start author
  .author {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 750px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__box{
          min-height: 215px;
          max-width: 650px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $green;
      }
      &__title{
        font-size: 30px;
        line-height: 30px;  
        color: #fff;
        margin-right: 45px;
        max-width: 260px;
        span{
            @include f700;
        }
      }
      &__link{
          font-size: 18px;
          color: $bg;
          background-color: #fff;
          line-height: 36px;
          padding: 14px 42px;
          
      }
  }


    //end author
  